## Adopted and modified from Github

# User settings
**/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting 
Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting 
Xcode 4)
**/build/
**/DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
**/*.gcno

## obnoxious file that has thumbnails and stuff
.DS_Store

## XCode project folder
*.pbxproj
*.xcworkspacedata
*.plist

## Java
**/target/
/target/
*/target/*
.classpath
.project
.settings

# Package Files #
*.jar
*.war
*.ear
*.iml
*.idea

## 
**/out/production/*

## Android
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.jks
*.keystore
google-services.json
*.hprof

**/test/*
**/androidTest/*
